etudiants.dtd

<!ELEMENT etudiants (etudiant*)>
<!ELEMENT etudiant (identite)>
<!ELEMENT identite (matricule,nom,prenom,moy,credit,Uniteacuise)>
<!ELEMENT moy (moyS1,moyS2,moyannuel)>
<!ELEMENT credit (creditS1,creditS2)>
<!ELEMENT moyS1 (#PCDATA)>
<!ELEMENT moyS2 (#PCDATA)>
<!ELEMENT creditS1 (#PCDATA)>
<!ELEMENT creditS2 (#PCDATA)>
<!ELEMENT moyannuel (#PCDATA)>
<!ELEMENT matricule (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT Uniteacuise (#PCDATA)>
